body {
  background: url(../../img/fondos/fondo-form.jpg);
  background-size: contain;
}

#form-container {
  width: 1200px;
  height: 600px;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

h1 {
  text-align: center;
  color: #0d0d0d;
  font-size: 30px;
  margin-top: 15px;
}

#form-registro {
  width: 100%;
  max-width: 500px;
  height: 540px;
  padding: 0px;
  border: 2px solid #005b97;
  padding: 3px;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  border-radius: 25px;
  background-color: #ffffff;
}

.input-form {
  font-size: 20px;
  width: 80%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #0d0d0d;
  margin: 0 auto;
  margin-top: 20px;
  outline: none;
  margin-left: 50px;
}

.input-form[type="date"] {
  font-size: 20px;
  width: 80%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #0d0d0d;
  margin: 0 auto;
  outline: none;
  margin-left: 50px;
}

/*.input-form[type="date"]::before {
  content: attr(placeholder);
}*/

.input-form2 {
  font-size: 20px;
  width: 35%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #0d0d0d;
  margin: 0 auto;
  margin-top: 20px;
  outline: none;
  margin-left: 50px;
}

label {
  font-size: 16px;
  display: flex;
  margin-left: 53px;
  margin-top: 20px;
  color: #0d0d0d;
}

button {
  border: none;
  width: 40%;
  color: #ffffff;
  font-size: 20px;
  background: #005b97;
  padding: 15px 20px;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 150px;
  border-radius: 20px;
}

button:hover {
  background-color: #ff3900;
  transition: 0.1s;
}

p {
  margin-top: 25px;
  font-size: 16px;
  text-align: center;
}

#login-link {
  text-decoration: none;
  color: #0d0d0d;
}

#login-link:hover {
  font-weight: 600;
  text-decoration: underline;
  color: #005b97;
}
