* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #005b97;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

#p {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

li {
  list-style: none;
}

.menu_nav li a {
  list-style: none;
  color: #fff;
  text-decoration: none;
  display: block;
  width: 190px;
  margin-top: 5px;
  padding: 5px;
}

.menu_nav li p {
  list-style: none;
  color: #fff;
  text-decoration: none;
  display: block;
}

.menu_nav li p:hover {
  background-color: #005b97;
  border-bottom: solid white 2px;
  transition: 0.1s;
}

.menu_nav li a:hover {
  border-bottom: solid white 2px;
  transition: 0.1s;
}

.menu_nav > li {
  float: left;
}

.menu_nav li ul {
  display: none;
  position: absolute;
  min-width: 150px;
}

.menu_nav li:hover > ul {
  display: block;
  background-color: #005b97;
}

.productos_container {
  margin-left: 50px;
  padding: 0 10px;
  height: 100%;
  align-items: center;
  display: flex;
  width: 500px;
}

.busqueda_container {
  margin-right: 325px;
}

.busqueda_container input {
  outline: none;
  box-sizing: border-box;
  height: 40px;
  width: 500px;
  padding: 0 20px;
  font-size: 16px;
  -moz-border-radius: 100px 0 0 100px;
  -webkit-border-radius: 100px 0 0 100px;
  border-radius: 100px 0 0 100px;
}

.btn_buscar {
  background-color: #ff3900;
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: auto;
  line-height: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -moz-border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0;
}

.btn_buscar a {
  font-size: 25px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.carrito_container {
  margin-right: 100px;
}

.cantidadElemCarrito {
  background-color: #ff3900;
  padding: 10px 10px;
  width: 30px;
  height: 30px;
  margin: auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  display: inline;
  padding-bottom: 20px;
  text-align: center;
}

#cantidadElemCarrito {
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}
