.menu {
  background-color: #fff;
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  padding: 0 80px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.menu_items {
  display: flex;
  list-style: none;
  margin-right: 30px;
}

.menu_items li {
  border-radius: 3px;
  margin: 0 5px;
}

.menu_items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: #0d0d0d;
}

.menu_items li:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.btn_menu {
  margin-right: 30px;
  font-size: 25px;
  color: #0d0d0d;
  cursor: pointer;
  display: none;
}

ul.show {
  top: 65px;
}

@media screen and (max-width: 952px) {
  .menu_items li a {
    font-size: 16px;
  }
  #logo {
    padding-left: 35px;
  }
}

@media screen and (max-width: 858px) {
  .menu {
    height: 65px;
  }
  .btn_menu {
    display: inline-flex;
  }
  .menu_items {
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background-color: #0d0d0d;
    top: -100vh;
    text-align: center;
    transition: all 0.4s;
    flex-direction: column;
  }
  .menu_items li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  .menu_items li:hover {
    background: none;
  }
  .menu_items li a {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
  }
  .menu_items li a:hover {
    color: #005b97;
  }
  #logo {
    padding-left: 35px;
  }
}

@media screen and (max-width: 858px) and (orientation: landscape) {
  .menu_items li {
    margin: 5px 0 0 0;
  }
  .menu_items {
    overflow: scroll;
    height: calc(100% - 65px);
  }
}
