#resCrear {
  width: 100%;
  max-width: 500px;
  height: 50px;
  padding: 0px;
  border: 2px solid #005b97;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #ffffff;
  margin-bottom: 150px;
  margin-top: 15px;
}

.p {
  color: #0d0d0d;
  font-size: 30px;
  text-align: center;
}
