h1 {
  color: #0d0d0d;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.grid-1 {
  display: grid;
  background: #fff;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  grid-gap: 0.5rem;
}

/* items */

/* specific item styles */

.card {
  background: #e7e7e7;
  width: 100%;
  height: auto;
}

.card img {
  width: 100%;
  height: auto;
}

#btnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card button {
  border: none;
  color: #ffffff;
  font-size: 20px;
  background: #005b97;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 2px;
  border-radius: 20px;
}

.card button:hover {
  background: #ff3900;
  transition: 0.1s;
}

.card input[type="number"] {
  width: 40%;
  height: auto;
}
