h1 {
  color: #0d0d0d;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

#general {
  display: grid;
  grid-column-gap: 50px;
}

.col {
  background: grey;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.card {
  width: 300px;
  background: white;
  margin: 20px;
}
