footer {
  width: 100%;
  padding: 20px 0;
  background-color: #827681;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo_footer {
  margin: auto;
  align-items: center;
}

.row .logo_footer img {
  width: 180px;
  margin: auto;
  align-items: center;
}

.row .desc {
  max-width: 300px;
  margin-top: 10px;
  font-weight: 500;
  color: #0d0d0d;
  font-size: 18px;
}

.row h2 {
  margin-bottom: 15px;
  color: #0d0d0d;
  font-weight: 700;
}

.row a {
  margin-top: 10px;
  color: #0d0d0d;
  font-weight: 600;
  text-decoration: none;
  max-width: 300px;
}

.row a .iconify {
  font-size: 16px;
}
