footer {
  padding: 20px 0;
  background-color: #e7e7e7;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo_footer {
  margin: auto;
  align-items: center;
}

.row .logo_footer img {
  width: 100px;
  margin: auto;
  align-items: center;
}

.row .desc {
  max-width: 300px;
  margin-top: 10px;
  font-weight: 500;
  color: #0d0d0d;
  font-size: 14px;
}

.row h2 {
  margin-bottom: 10px;
  color: #0d0d0d;
  font-weight: 600;
  font-size: 18px;
}

.row a {
  margin-top: 10px;
  color: #0d0d0d;
  font-weight: 500;
  text-decoration: none;
  max-width: 300px;
  font-size: 16px;
}

.row a .iconify {
  font-size: 18px;
}

.row a .social {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
}

.row a .fb:hover {
  color: #1778f2;
}

.row a .ig:hover {
  color: #f44747;
}

.row a .tk:hover {
  color: #ee1d52;
}
